<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447041935659-1i3qtgggc1t7vimovd6ttft744crigvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447041935659-1i3qtgggc1t7vimovd6ttft744crigvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447041935659-pjto0qpnnffc3g910jh1hfo5v2g73i27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxlmJkAOYRGhYJV-gIVVVPBbiz9GLYN_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>447041935659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exfit.development</string>
	<key>PROJECT_ID</key>
	<string>exfit-ai-dev-9d0fe</string>
	<key>STORAGE_BUCKET</key>
	<string>exfit-ai-dev-9d0fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447041935659:ios:746020b8bba83c1c748d6e</string>
</dict>
</plist>